.bookpage {
  display: flex;
  flex-direction: column;
}

.book_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
}

.total_div {
  width: 1500px;

  margin: 50px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  border-radius: 50px;
  background: #fff;
}

.top_div {
  height: auto;

  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.bottom_div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.actions {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.button {
  width: auto;
  height: 50px;

  color: #000;
  background-color: transparent;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  display: flex;
  text-decoration: none;
  line-height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;

  border-radius: 10px;
  border: 3px solid #415d43;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.images {
  width: 500px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 1000px;

  margin: 20px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;

  justify-content: space-between;
}

.title {
  font-size: 40px;
  font-weight: 700px;
  margin: 0px;
}

.author {
  font-size: 30px;
  margin: 0px;
  margin-bottom: 20px;
}

.sinopse {
  font-size: 22px;
  padding-left: 50px;
  padding-right: 50px;
}

.thumbnail {
  width: 350px;
  height: 450px;
  border-radius: 25px;
  border: 3px solid #415d43;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* height: auto; */
  /* flex-shrink: 0; */
}

.stars {
  width: 50%;
}

.avaliable_section {
  display: flex;
  align-self: center;
  align-items: center;
}
