.card {
  /* gap: 25px; */

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}

.cover_div {
  /* width: 40%; */
  display: flex;
  align-items: center;
}

.info_div {
  width: 70%;
  gap: 10px;
  display: flex;
  flex-direction: column;

  margin-left: 25px;
  margin-right: 25px;
}

.book_div {
  width: 600px;
  display: flex;
  /* justify-content: center; */

  border-radius: 25px 0px 0px 25px;
  padding: 25px;
  background-color: #fff;
}

.book_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  gap: 20px;
}

.book_title {
  margin: 0;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.book_author {
  margin: 0;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.thumbnail {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.user_div {
  height: 200px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  border-radius: 0px 25px 25px 0px;
  background: #bae3cf;
}

.user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.user_info_text {
  display: flex;
  flex-direction: column;
}

.user_icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.score {
  display: flex;
  align-items: center;
}
.score_icon {
  height: 50px;
  width: 50px;
}

.score_value {
  margin: 0;
  font-size: 20px;
}

.user_name {
  margin: 0;

  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.user_title {
  margin: 0;

  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.info_label {
  margin: 0;
  padding-left: 0;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  list-style: none;
}

.info_data {
  margin: 0;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  list-style: none;
}

.listas {
  display: flex;
  justify-content: flex-start;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button_true {
  display: flex;
  margin: 0;
  width: 150px;
  height: 35px;
  padding: 2px;

  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #ff822d;
  border: transparent;

  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;

  cursor: pointer;
}

.button_false {
  display: flex;
  margin: 0;
  width: 150px;
  height: 35px;
  padding: 4px;

  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #bdbcbb;
  border: transparent;

  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
