.user_icon {
  width: 3.5rem;
  height: 3.5rem;
}

.button {
  color: #f1f1f1;
  width: 100px;

  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  display: flex;
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user_icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}