<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    {% if not user.is_anonymous %}
        <!-- Conteúdo para usuários autenticados e verificados -->
        <h2>Bem-vindo, {{ user.username }}!</h2>
        <p>Este é o conteúdo para usuários autenticados e verificados.</p>
        <form action="{% url 'logout_usuario' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

    {% else %}
        <!-- Conteúdo para usuários não autenticados -->
        
        <h2>Bem-vindo ao nosso site!</h2>
        <p>Este é o conteúdo para usuários não autenticados.</p>
        <a href="{% url 'cadastrar_usuario' %}">Cadastrar</a>
        <a href="{% url 'login_usuario' %}">Login</a>

    {% endif %}
</body>
</html>